|72000
/# pri4
n
t














.010
f31
30to 20 using range12200b'
456+++
0022c


\]
ghu999---*********************mxc cyvbnm,./0

In [1]:



or item in range(0,20):
    print(item)-

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# print range 10 to 20

In [5]:
for num in range(10,20):
    print(num, end = (' '))

10 11 12 13 14 15 16 17 18 19

# Print number of items in the list by using 'len'

In [6]:
list = [10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2 : ")
print(len(list))

Number of item in the List2 :
7

In [7]:
word = "Artificial Intelligence"
print(word)

for item in word:
    print(item)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [8]:
name = input("-Your Name - ")
age = int(input("-Your Age - "))
prof = input("-Your Profession - ")

-Your Name - Gayathri
-Your Age - 30
-Your Profession - Software Engineer

# Program using tuples

In [9]:
tuple = (1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [10]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'hope')

tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'hope'))

# print Odd Numbers in the list

In [12]:
numList = [20,10,16,19,25,1,276,188]

for item in numList:
    odd = item % 2
    if(odd == 1):
        print(item, " is odd")

19  is odd
25  is odd
1  is odd

# print Even numbers in the list

In [15]:
numList = [20,10,16,19,25,1,276,188]

for item in numList:
    even = item % 2
    if(even == 0):
        print(item, " is even")

20  is even
10  is even
16  is even
276  is even
188  is even